flask
requests
google-genai
duckduckgo-search
firebase-admin
pymupdf
python-telegram-bot
pillow
pysqlite3-binary
chromadb
sentence-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch